#game{
    border: black solid 1px;
}

.table{
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.tr{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
 
.black{
    background: black;
}
 
.white{
    background: white;
}